*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
 
body{
    font-family:Arial,sans-serif;
    background:linear-gradient(to bottom,#6ec6ff,#dff6ff);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.panel{
    width:380px;
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 15px 40px rgba(0,0,0,.25);
}

.panel-header{
    text-align:center;
    padding:20px;
    background:#2f8fd6;
    color:white;
}

.scene{
    position:relative;
    height:240px;
    background:linear-gradient(#87ceeb,#ffffff);
    overflow:hidden;
}

#sun{

width:70px;
height:70px;
border-radius:50%;
position:absolute;
top:20px;
left:20px;
background:radial-gradient(circle,#fff59d,#ffd600,#ff9800);
box-shadow:0 0 40px gold;

}

#earth{
    width:90px;
    height:90px;
    border-radius:50%;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);

    background:
        radial-gradient(circle at 30% 30%, #4CAF50 0 12%, transparent 13%),
        radial-gradient(circle at 70% 40%, #3FA34D 0 14%, transparent 15%),
        radial-gradient(circle at 40% 75%, #5DBB63 0 10%, transparent 11%),
        radial-gradient(circle, #5ec8ff, #1565c0 70%);

    box-shadow:
        inset -12px -12px 20px rgba(0,0,0,.4),
        0 0 15px rgba(50,150,255,.6);

    animation: rotateEarth 20s linear infinite;
}

@keyframes rotateEarth{
    0%{
        transform:translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform:translate(-50%,-50%) rotate(360deg);
    }
}

#time{
    font-size:42px;
    margin-bottom:10px;
}

#date{
    color:gray;
    margin-bottom:20px;
}

#temperature{
    font-size:36px;
    color:#2f8fd6;
    margin-bottom:10px;
}

#weather{
    margin-bottom:20px;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#2f8fd6;
    color:white;
    font-size:18px;
    cursor:pointer;
}
